*{
    margin: 0;
    border: 0;
}
h1{
    color: rgb(255, 0, 0);
    background-color: rgb(196, 246, 121);
}

.module{
    border: 1px solid grey;
    text-align: center;
    width: 45%;
    float: left;
    height: 240px;
    margin: 35px;
    background-color: rgb(194, 194, 194);
}
input{
    color: white;
    background-color: rgb(117, 94, 94);
    width: 150px;
    border-radius: 3px;
    height: 25px;
    font-size: 14px;
}

input:hover{
    color: brown;
    background-color: white;
}
div h2{
    color: green;
    text-align: center;
    padding: 12px;
    font-size: 42px;
    background-color: azure;
}

.admin:hover{
    color: brown;
    background-color: white;
}
.admin{
    float: right;
    background-color: rgb(142, 142, 142);
    height: 20px;
    border-radius: 3px;
    margin-right: 10px;
}
div a h3{
    float: left;
}
div p{
    text-align: center;
    font-size: larger;
    margin-top: 390px;
    color: rgb(240, 111, 208);
}
div p text{
    color: rgb(255, 0, 166);
    font-family: sans-serif;
}
